name: Build Beta APKs
on:
  workflow_dispatch:
  push:

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Increase disk space
        uses: jlumbroso/free-disk-space@main
        with:
          android: 'false'

      - name: Update local machine
        run: |
          sudo apt-get update -y
          sudo apt-get upgrade -y

      - name: Checkout repo
        run: |
          git clone --recurse-submodules --shallow-submodules https://codeberg.org/comaps/comaps.git

      - name: Install required packages
        run: |
          sudo apt install build-essential cmake qt6-base-dev qt6-svg-dev qt6-positioning-dev libicu-dev libfreetype-dev libharfbuzz-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev optipng python3-pip ninja-build
          pip install "protobuf<3.21" --break-system-packages

      - name: Configure repository for development
        run: |
          cd comaps
          ./configure.sh

      - name: Install OpenJDK 21
        run: |
          sudo apt install openjdk-21-jdk
          sudo apt install openjdk-21-jre

      - name: Compile APK
        run: |
          cd comaps/android
          ./gradlew assembleBeta

      - name: Upload APKs
        uses: actions/upload-artifact@v6
        with:
          path: app/build/outputs/apk/fdroid/beta/*.apk
